# pip install -r requirements.txt
Flask

#optional to flask
python-dotenv
watchdog

pytest
numpy
coverage


pandas

# saves / loads in feather format
# also parquet format?
pyarrow


# https://matplotlib.org/stable/install/index.html
matplotlib